<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="header">
  <h2>A Travel Guide To Japan Blog</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card1">
      <h2>Tokyo</h2>
      <h5>The Capital of Japan</h5>
      <div class="fakeimg1" style="height:600px;"></div>
      <p>Tokyo, Japan’s busy capital, mixes the ultramodern and the traditional, from neon-lit skyscrapers to historic temples. The opulent Meiji Shinto Shrine is known for its towering gate and surrounding woods. The Imperial Palace sits amid large public gardens. The city's many museums offer exhibits ranging from classical art (in the Tokyo National Museum) to a reconstructed kabuki theater (in the Edo-Tokyo Museum).
        The old, narrow streets of the Asakusa district contain shops, women in kimono and the 7th-century Sensō-ji Buddhist temple. By contrast, Roppongi has lively nightclubs and karaoke bars, and Akihabara has high-tech electronics stores. Cozy Japanese-style pubs called izakaya are scattered throughout the city. The expansive Toyosu fish market is known for its morning tuna auction. The Tokyo SkyTree tower offers expansive views of the city from its public observation deck. Tokyo is famed for its vibrant food scene, and its Shibuya and Harajuku districts are the heart of its trendy teen fashion culture.</p>
    </div>
    <div class="card2">
      <h2>Things to do in japan</h2>
      <h5>While you are exploring the wonders of japan here are some places that you wanna visit:</h5>
      <h5>1.Tokyo SkyTree</h5>
      <div class="fakeimg2" style="height:205px;"></div>
      <p>Tokyo Skytree (東京スカイツリー Tōkyō Sukaitsurī) is a broadcasting and observation tower in Sumida, Tokyo, Japan. It became the tallest structure in Japan in 2010[3] and reached its full height of 634.0 metres (2,080 ft) in March 2011, making it the tallest tower in the world, displacing the Canton Tower,[4][5] and the second tallest structure in the world after the Burj Khalifa (829.8 m/2,722 ft).[6]
       The tower is the primary television and radio broadcast site for the Kantō region; the older Tokyo Tower no longer gives complete digital terrestrial television broadcasting coverage because it is surrounded by high-rise buildings. Skytree was completed on Leap Day, 29 February 2012, with the tower opening to the public on 22 May 2012.[7] The tower is the centrepiece of a large commercial development funded by the Tobu Railway (which owns the complex) and a group of six terrestrial broadcasters headed by NHK. Trains stop at the adjacent Tokyo Skytree Station and nearby Oshiage Station. The complex is 7 km (4.3 mi) north-east of Tokyo Station.</p>
       <h5>2.Tokyo Tower</h5>
       <div class="fakeimg3" style="height:200px"></div>
      <p>Tokyo Tower (東京タワー Tōkyō tawā, officially called 日本電波塔 Nippon denpatō "Japan Radio Tower") is a communications and observation tower in the Shiba-koen district of Minato, Tokyo, Japan. At 332.9 metres (1,092 ft), it is the second-tallest structure in Japan. The structure is an Eiffel Tower-inspired lattice tower that is painted white and international orange to comply with air safety regulations.
       Built in 1958, the tower's main sources of income are tourism and antenna leasing. Over 150 million people have visited the tower. FootTown, a four-story building directly under the tower, houses museums, restaurants and shops. Departing from there, guests can visit two observation decks.</p>
       <h5>3. Meiji Shrine</h5>
       <div class="fakeimg4" style="height:200px"></div>
       <p>Meiji Shrine (明治神宮 Meiji Jingū), located in Shibuya, Tokyo, is the Shinto shrine that is dedicated to the deified spirits of Emperor Meiji and his wife, Empress Shōken.The shrine does not contain the emperor's grave, which is located at Fushimi-momoyama, south of Kyoto.</p>
       <h5>4.Takeshita Street</h5>
       <div class="fakeimg5" style="height: 200px"></div>
       <p>Takeshita Street (竹下通り Takeshita-dōri) is a pedestrian shopping street lined with fashion boutiques, cafes and restaurants in Harajuku in Tokyo, Japan. Stores on Takeshita Street include major chains such as The Body Shop, McDonald's, and 7-Eleven, but most of the businesses are small independent shops that carry an array of styles. The shops on this street are often a bellwether for broader fads, and some are known as "antenna shops," which manufacturers seed with prototypes for test-marketing.
        Located directly across from the exit of JR East's Harajuku Station, Takeshita Street is very popular with young teenagers, particularly those visiting Tokyo on school trips, or local young people shopping for small "cute" goods at weekends.</p>
        <h5>5.Mount Takao</h5>
        <div class="fakeimg6" style="height: 200px"></div>
        <p>Mount Takao (高尾山 Takao-san) is a mountain in the city of Hachiōji, Tokyo, Japan. It is protected within Meiji no Mori Takao Quasi-National Park.
        Standing 599 metres (1,965 ft) tall and located within an hour of downtown Tokyo, it is a popular hiking spot, with eight hiking courses and more than 2.5 million annual visitors. The Tama Forest Science Garden is also located at the mountain's base.
         Mount Takao is closely associated with the Shinto-Buddhist tengu, minor kami from Japanese folklore, and the daitengu Naigubu. The mountain is also renowned for Shugendō, the mountain asceticism focusing on strict discipline. A Buddhist temple, Takaosan Yakuōin Yūkiji, is located on the mountain, and attracts many visitors who pray to the tengu for good fortune. The temple belongs to the Shingon Buddhist sect.</p>
        </div>
         
  
  
  <div class="rightcolumn">
    <div class="card3">
      <h2>About this page</h2>
      <div class="fakeimg12" style="height:100px;"></div>
      <p>This page will help you on what are the things to do when you arrive at Japan.</p>
    </div>
    <div class="card3">
      <h3>Popular Post</h3>
      <div class="fakeimg13" style="height: 85px;"></div><br>
      <div class="fakeimg14" style="height: 85px;"></div><br>
      <div class="fakeimg15" style="height: 85px;"></div>
    </div>
    <div class="card3">
      <h3>Follow Me</h3>
      <p>Facebook</p>
      <p>Twitter</p>
      <p>Instagram</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Copyright Fritz Ereneta@2019|All Rights Reserved.</h2>
</div>

</body>
</html>